<nav>
    <a href="#contact" alt="contact">contact</a>
    <span class="sep"/>
    <a href="https://brain.worm.pink/leila" alt="twitter but its everywhere (akkoma, fediverse)">akkoma</a>
    <span class="sep"/>
    <a href="https://bsky.app/profile/leila.moe" alt="twitter but not twitter (bluesky)">bluesky</a>
    <span class="sep"/>
    <a href="https://codeberg.org/kitsune" alt="codeberg">codeberg</a>
</nav>