<head>
    <link rel="me bsky" href="https://bsky.app/profile/leila.moe">
    <link rel="me cohost" href="https://cohost.org/leila">
    <link rel="me akkoma" href="https://brain.worm.pink/leila">
    <link rel="me twitter" href="https://twitter.com/caiflanes">
    <link rel="me telegram" href="https://t.me/lulico">
    <link rel="me discord" href="https://discord.com/users/452283991006117908">
    <link rel="me github" href="https://github.com/mixcoac">
    <link rel="me codeberg" href="https://codeberg.org/kitsune">
    <link rel="me reddit" href="https://old.reddit.com/u/kritterhouse">
    <link rel="me bitcafe" href="https://bitcafe.me/leila">
    <link rel="me lastfm" href="https://last.fm/user/kamikodev">
    <link rel="me steam" href="https://steamcommunity.com/id/lulico">
    <link rel="me linkedin" href="https://www.linkedin.com/in/lulico">
    <link rel="me orcid" href="https://orcid.org/0009-0000-5985-8771">
    <link rel="me namemc" href="https://namemc.com/profile/lulico.1">
</head>