---
import Xfn from "~components/xfn.astro"
const {frontmatter} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content={frontmatter.title}>
		<meta property="og:description" name="description" content={frontmatter.description}>
		<meta content="#b1b3cd" data-react-helmet="true" name="theme-color">
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/ast/leaves.png">
		<link rel="stylesheet" type="text/css" href="https://neonette.netlify.app/neon.css">
		<Xfn />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<!-- When you're down on your luck, you're down, but it don't mean you're out. Keep going. -->